
.formGroup{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}
.formbox{
    display: flex;
    flex-wrap: wrap;
}

.formbox > div{
    min-width: 240px;
    margin: 10px;
}

.formGroup .formSubmit{
    width: 40%;
    margin: 0 auto;
}

.formbox .errorText{
    color :rgb(211, 47, 47);
    text-align:center;
}

.outputEnergy{
    color: green;
    font-weight: bold;
    font-size: 1.3em;
}